.light-mode {
    background-color: aliceblue;
    color: black;
}

.dark-mode {
    background-color: #1f1912;
    color: aliceblue;
}


.light-mode-header {

    background-color: blue;
    color: #000000;
}

.dark-mode-header {

    background-color: #3a332a;
    color: #ffffff;
}

.light-mode .navbar li:hover {

    background-color: #f0f0f0;

}

.dark-mode .navbar li:hover {

    background-color: #333333;

}

.container,
.navbarContainer,
.navbar li {

    transition: background-color 0.4s ease, color 0.4s ease;
}

.logo-image {
 
    transition: opacity 0.4s ease;

}