.light-mode {
    background-color: aliceblue;
    color: black;
}

.dark-mode {
    background-color: #1f1912;
    color: aliceblue;
}


.white-text{
    color: aliceblue;

}

.black-text{
    color: black;
}


.light-mode .navbar li:hover {

    background-color: #f0f0f0;

}

.dark-mode .navbar li:hover {

    background-color: #333333;

}

.container,
.navbarContainer,
.navbar li {

    transition: background-color 0.4s ease, color 0.4s ease;
}

.logo-image {
 
    transition: opacity 0.4s ease;

}